- content_for(:metadata) do 
  - ""

%ul#home_panels.nine_nine_mosaic.hiding 
  
  %li.item.text_mosaic_panel{:data => { :category => "one" }}
    %div
      %p= t("home.panels.presentation.first").html_safe
  %li.item.text_mosaic_panel{:data => { :category => "one" }}
    %div
      %p= t("home.panels.presentation.second").html_safe
  %li.item.text_mosaic_panel{:data => { :category => "one" }}
    %div
      %p= t("home.panels.presentation.third").html_safe
  %li.item.image_mosaic_panel{:data => { :category => "one" }}
    %div
      = image_tag "home/Igape.jpg"
  %li.item.image_mosaic_panel{:data => { :category => "one" }}
    %div
      = image_tag "home/Azafata.jpg"
  %li.item.image_mosaic_panel{:data => { :category => "one" }}
    %div
      = image_tag "home/Azafatas.jpg"
  %li.item.image_mosaic_panel{:data => { :category => "one" }}
    %div
      = image_tag "home/Cima.jpg"
  %li.item.image_mosaic_panel{:data => { :category => "one" }}
    %div
      = image_tag "home/Cunqueiradas.jpg"
  %li.item.image_mosaic_panel{:data => { :category => "one" }}
    %div
      = image_tag "home/Igape_3.jpg"
  %li.item.image_mosaic_panel{:data => { :category => "one" }}
    %div
      = image_tag "home/TurExpo.jpg"
  %li.item.image_mosaic_panel{:data => { :category => "one" }}
    %div
      = image_tag "home/IMG_1343.JPG"

%fieldset#customers_panel
  %legend= t "home.customers.legend"
  %ul
    = customers_photos
