%h1= t "events.title"

- events_list =  ["atencion_auditorio_galicia", "congreso_farmacia_hospitalaria", "concierto_filarmonica", "galicia_ceo", "semana_verde", "sabor_aventura", "celebracion_convencion", "premios_tesoura", "cogami", "congreso_ibby", "xacobeo_2010", "servicio_aereo", "enfermedades_dixestivas", "orden_san_lazaro", "mulleres_cineastas", "galicia_premium", "roma_santiago", "lugares_cultura", "premio_maria"]

#events_container.big_panel
  %ul#events_list.left_panel
    - events_list.each do |event|
      =event_link event

  %events_details_container.right_panel
    .events_details_panel{:style => "display:none", :data => {:item_name => "atencion_auditorio_galicia"}}
      %h2= t("events.atencion_auditorio_galicia.name")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}
    
    .events_details_panel{:style => "display:none", :data => {:item_name => "congreso_farmacia_hospitalaria"}}
      %h2= t("events.congreso_farmacia_hospitalaria.name")
      %p= t("events.congreso_farmacia_hospitalaria.description.first")
      %p= t("events.congreso_farmacia_hospitalaria.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "concierto_filarmonica"}}
      %h2= t("events.concierto_filarmonica.name")
      %p= t("events.concierto_filarmonica.description.first")
      %p= t("events.concierto_filarmonica.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "galicia_ceo"}}
      %h2= t("events.galicia_ceo.name")
      %p= t("events.galicia_ceo.description.first")
      %p= t("events.galicia_ceo.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "semana_verde"}}
      %h2= t("events.semana_verde.name")
      %p= t("events.semana_verde.description.first")
      %p= t("events.semana_verde.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "sabor_aventura"}}
      %h2= t("events.sabor_aventura.name")
      %p= t("events.sabor_aventura.description.first")
      %p= t("events.sabor_aventura.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "celebracion_convencion"}}
      %h2= t("events.celebracion_convencion.name")
      %p= t("events.celebracion_convencion.description.first")
      %p= t("events.celebracion_convencion.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "premios_tesoura"}}
      %h2= t("events.premios_tesoura.name")
      %p= t("events.premios_tesoura.description.first")
      %p= t("events.premios_tesoura.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "cogami"}}
      %h2= t("events.cogami.name")
      %p= t("events.cogami.description.first")
      %p= t("events.cogami.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "congreso_ibby"}}
      %h2= t("events.congreso_ibby.name")
      %p= t("events.congreso_ibby.description.first")
      %p= t("events.congreso_ibby.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "xacobeo_2010"}}
      %h2= t("events.xacobeo_2010.name")
      %p= t("events.xacobeo_2010.description.first")
      %p= t("events.xacobeo_2010.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "servicio_aereo"}}
      %h2= t("events.servicio_aereo.name")
      %p= t("events.servicio_aereo.description.first")
      %p= t("events.servicio_aereo.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "enfermedades_dixestivas"}}
      %h2= t("events.enfermedades_dixestivas.name")
      %p= t("events.enfermedades_dixestivas.description.first")
      %p= t("events.enfermedades_dixestivas.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "orden_san_lazaro"}}
      %h2= t("events.orden_san_lazaro.name")
      %p= t("events.orden_san_lazaro.description.first")
      %p= t("events.orden_san_lazaro.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "mulleres_cineastas"}}
      %h2= t("events.mulleres_cineastas.name")
      %p= t("events.mulleres_cineastas.description.first")
      %p= t("events.mulleres_cineastas.description.second")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "roma_santiago"}}
      %h2= t("events.roma_santiago.name")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "lugares_cultura"}}
      %h2= t("events.lugares_cultura.name")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}

    .events_details_panel{:style => "display:none", :data => {:item_name => "premio_maria"}}
      %h2= t("events.premio_maria.name")
      .two_images
        %img{:src => image_path("events/imagen_corporativa.jpg")}
        %img{:src => image_path("events/medios_audiovisuales.jpg")}