<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag  params[:controller] %>
  <%= csrf_meta_tags %>
  <%= yield :metadata %>
  <title><%= t "#{params[:controller]}.title" %> - Heima</title>
</head>
<body >
  <%= render :partial => "shared/header" %>
  <div id="content">
<%= yield %>
    
  </div>
  <%= render :partial => "shared/footer" %>
</body>
</html>
